<nav class="navigation">
    <h1>NAVIGATION</h1>
    <div class="linklist">
        <div class="header">
            <h4>Links</h4>
        </div>
        <div class="content">
            <p>Pages</p>

            <%- pagesMenu -%>

            <p>Wiki</p>

            <%- wikiMenu -%>

        </div>
    </div>
    <br/>
    <img class="bn" src="/files/img/gif/anythingbut.webp" alt="Google Chrome logo barred in red with written 'anything but chrome'">
    <img class="bn" src="/files/img/gif/synth-uprising.webp" alt="Picture of Jae the Synth with a text saying 'Synth Uprising'">
    <img class="bn" src="/files/img/gif/bestviewed16bit.webp" alt="Best viewed 1024x768 16Bits color">
    <img class="bn" src="/files/img/gif/bunbrowser.webp" alt="Picture of a bunny with written 'bunny browser'">
    <img class="bn" src="/files/img/epilepsy-purple.svg" alt="Purple and black pill displaying the text epilepsy.">
    <br/>
    <p>Copyright 2012-2023 <a href="https://777.tf/" class="h-card" rel="me">Jae Lo Presti</a>, this page content's is under CC-BY SA 4.0; Robot on the internet since 2012; Powered by <a href="https://sr.ht/~jae/Overengine/">Overengine 🐾</a>, under the GNU AGPLv3.</p>

    <a href="https://ko-fi.com/j4dlc"><img alt="Support me on Ko-Fi!" src="/files/img/kofi_button_stroke.svg"></a>

    <p><a href="https://git.sr.ht/~jae/sitecontent/log">Content changelog.</a><br>Version: <%= contentVersion %>.</p>
    <p>Content deployment status: <img src="https://builds.sr.ht/~jae/sitecontent/commits/beep/.build.yml.svg" alt="Content deployment badge"></p>

    <% if(locals.domains && domains.length > 0) { %>
        <hr>
        <p>Served on:</p>
        <ul>
            <% domains.forEach((domain) => { %>
                <% if(domain.includes('.onion')) { %>
                    <li><a href="http://<%- domain %>"><%- domain %></a></li>
                <% } else { %>
                    <li><a href="//<%- domain %>"><%- domain %></a></li>
                <% } %>
            <% }) %>
        </ul>
    <% } %>

    <hr>

    <div class="sect-trans-wrapper">
        <div class="sect-trans-blue"></div>
        <div class="sect-trans-pink"></div>
        <div class="sect-trans-white"></div>
        <div class="sect-trans-pink"></div>
        <div class="sect-trans-blue"></div>
    </div>

    <div class="tflag-wrapper">
        <div class="tflag">&</div>
    </div>

    <div class="therflag">
        <img src="/files/img/tdelta.svg" alt="Delta Theta symbol of Theriantropy" class="timg">
    </div>
</nav>
