<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>
      <%= sitename %> - <%= content.title %>
    </title>

    <link rel="stylesheet" type="text/css" href="/files/main.css">
    <link rel="icon" href="/files/logo.svg" type="image/svg+xml" sizes="any">

    <!-- OpenGraph -->
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content="Jae's Website">
    <meta property="og:url" content="https://jae.fi">
    <meta property="og:site_name" content="Jae's Website">
    <meta property="og:description" content="<%= content.description %>">
    <meta property="og:image" content="https://bm.jae.fi/web/Logo-abs.png">

    <link rel="stylesheet" href="/files/highlightjs/styles/default.min.css">
    <script src="/files/highlightjs/highlight.min.js"></script>
</head>
<body id="body">

    <div class="page">
        <%- include('layouts/header'); -%>
        <div class="cpage">
            <div class="mainPage">
                <% if (locals.isLegacy && isLegacy) { %>
                    <div class="construction" style="margin-top: 0.625rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v3.75m-9.303 3.376C1.83 19.126 2.914 21 4.645 21h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 4.88c-.866-1.501-3.032-1.501-3.898 0L2.697 17.626zM12 17.25h.007v.008H12v-.008z"></path></svg>
                        <h2>You are using legacy IP which will be removed on Jan 31 2024!</h2>
                    </div>
                <% } %>

                <h1><%= content.title %></h1>
                <p>- Published on <%= moment(content.pubDate).format('Do MMMM, YYYY') %> -</p>

                <% if (((new Date()) - content.pubDate) / (1000 * 3600 * 24 * 365) > 1) { %>
                    <div class="construction" style="margin-top: 0.625rem;">
                        <h2>This article is older than a year and might be outdated!</h2>
                    </div>
                <% } %>

                <%- content.markdown %>
            </div>
            <%- include('layouts/navigation'); -%>
        </div>
    </div>

</body>
</html>
