<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>
      <%= sitename %> - <%= content.title %>
    </title>

    <link rel="stylesheet" type="text/css" href="/files/main.css">
    <link rel="icon" href="/files/logo.svg" type="image/svg+xml" sizes="any">

    <!-- OpenGraph -->
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content="<%= content.title %>">
    <meta property="og:url" content="https://777.tf">
    <meta property="og:site_name" content="<%= sitename %>">
    <meta property="og:description" content="<%= content.description %>">
    <meta property="og:image" content="/files/logo.svg">

    <script async src="/files/highlightjs/highlight.min.js"></script>
    <script>window.addEventListener('load', () => hljs.highlightAll());</script>

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
</head>
<body id="body">

    <div class="page">
        <%- include('layouts/header'); -%>
        <div class="cpage">
            <div class="mainPage">
                <% if (locals.isLegacy && isLegacy) { %>
                    <div class="construction" style="margin-top: 0.625rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v3.75m-9.303 3.376C1.83 19.126 2.914 21 4.645 21h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 4.88c-.866-1.501-3.032-1.501-3.898 0L2.697 17.626zM12 17.25h.007v.008H12v-.008z"></path></svg>
                        <h2>You are using legacy IP which will be removed on Jan 31 2024!</h2>
                    </div>
                <% } %>

                <% if(content.picurl && content.picalt) { %>

                <br>

                <div class="headerpic">
                    <img src="<%- content.picurl %>" alt="<%- content.picalt %>">
                    <% if(content.picdesc) { %>
                        <p><%- content.picdesc %></p>
                    <% } %>
                </div>

                <% } %>

                <%- content.markdown %>

                <% if (locals.list) { %>
                    <%- list %>
                <% } %>
            </div>
            <%- include('layouts/navigation'); -%>
        </div>
    </div>

</body>
</html>
